<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>

        <h1>Welcome to Pet Quest!</h1>
        <p>At any time you can <a class="btn btn-outline-primary" href='/reset/'>Reset</a> your game.<br>
            {% if balance is defined %}
                Balance = ${{ balance }}
            {% else %}
                Yo I forgot to display your balance on this page.
            {% endif %}
        </p>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>