{% extends "base.html" %}

{% block content %}
    <b>Welcome to the Contest of Pets.</b><br>
    Your goal is to impress the judges.<br>
    These judges want <strong>{{ name }}</strong> to push a rock.<br>
    <a href="/contest/speed1/">Dazzle the rock with blinding speed.</a><br>
    <a href="/contest/size1/">Intimidate the rock with enormous size.</a><br>
    <a href="/contest/strength1/">Push the rock with brute strength.</a><br>
    <a href="/contest/beauty1/">Use glamour to seduce the rock.</a>
{% endblock %}