{% extends "base.html" %}

{% block content %}
    <b>Welcome to the Contest of Pets.</b><br>
    Your goal is to impress the judges.<br>
    These judges want <strong>{{ name }}</strong> to run around a tree.<br>
    <a href="/contest/speed2/">Zoom around the tree, impressing the judges.</a><br>
    <a href="/contest/size2/">Jump over the tree with enormous size.</a><br>
    <a href="/contest/strength2/">Push down the tree with strength alone.</a><br>
    <a href="/contest/beauty2/">Use glamour to seduce the tree.</a>
{% endblock%}