{% extends "base.html" %}

{% block content %}
    Welcome to the Pet Facility.<br>
    Choose your new pet to take care of.<br>
        <link rel = "stylesheet" href = "/static/imagefix.css" >
        <a href="/ask/eagle/">
            <img src="/static/eagle.jpg" alt="Picture of eagle">
        </a>
        <a href="/ask/jellyfish/">
            <img src="/static/jellyfish.jpg" alt="Picture of jellyfish">
        </a>
        <a href="/ask/leopard/">
            <img src="/static/leopard.jpg" alt="Picture of leopard">
        </a>
        <a href="/ask/elephant/">
            <img src="/static/elephant.jpg" alt="Picture of elephant">
        </a>
{% endblock %}