{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href="/static/image.css/">
    <img src={{ image }} alt=Picture of your pet>
    <strong>Status Check:</strong><br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Animal</th>
                <th scope="col">Speed</th>
                <th scope="col">Size</th>
                <th scope="col">Strength</th>
                <th scope="col">Beauty</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ name }}</th>
                <td>{{ pet }}</td>
                <td>{{ status.speed }}</td>
                <td>{{ status.size }}</td>
                <td>{{ status.strength }}</td>
                <td>{{ status.beauty }}</td>
            </tr>
        </tbody>
    </table>
    <strong>Item Check:</strong><br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"># of speed helpers</th>
                <th scope="col"># of size helpers</th>
                <th scope="col"># of strength helpers</th>
                <th scope="col"># of size helpers</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ speedpill }}</td>
                <td>{{ sizepill }}</td>
                <td>{{ strengthpill }}</td>
                <td>{{ beautypill }}</td>
            </tr>
        </tbody>
    </table>
    <a href="/goto/home/">Go back home.</a>
{% endblock %}